<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quetzal Technology</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>

<body>
    <header>
        <div class="textos">
            <h1 class="titulo">Quetzal Technology</h1>
            <h3 class="subtitulo">Servicios para el hogar</h3>
            <a href="#" class="boton">Contratar servicios</a>
        </div>
        <div class="sesgoabajo"></div>
    </header>
    <main>
        <section class="acerca-de">
            <div class="contenedor">
                <h2 class="sobre-nosotros">Sobre nosotros</h2>
                <h3 class="slogan">Porque queremos cuidar tu hogar como si fuera nuestro</h3>
                <h3 class="slogan">Mision</h3>
                <p class="parrafo">Pro porcionar y garantizar con la más alta calidad con la mejor
                    atención al cliente de manera simple rápida y segura servicios para tu hogar conforme a tu conveniencia y transparencia.</p>
                <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dicta rem hic totam necessitatibus
                    tempora animi error perferendis. Vero corrupti porro quia! Ad saepe alias, officiis voluptatem sed, odio
                    dolores neque dolorem placeat nam quia numquam soluta ipsam nostrum consequuntur, a magnam non. Tenetur
                    repudiandae distinctio inventore voluptate fugit laborum?</p>
                <a href="#" class="boton">Contacto</a>
            </div>
        </section>
        <section class="galeria">
            <div class="sesgoarriba"></div>
            <div class="imagenes none">
                <img src="../static/img/1.jpg" alt="">
            </div>
            <div class="imagenes">
                <img src="../static/img/3.jpg" alt="">
            </div>
            <div class="imagenes">
                <img src="../static/img/2.jpg" alt="">
                <div class="encima">
                    <h2>Quetzal Clean</h2>
                    <div></div>
                </div>
            </div>
            <div class="imagenes">
                <img src="../static/img/4.jpeg" alt="">

            </div>
            <div class="imagenes none">
                <img src="../static/img/5.jpeg" alt="">
            </div>
            <div class="sesgoabajo"></div>
        </section>
        <section class="miembros">
            <div class="contenedor">
                <h2 class="sobre-nosotros">Nuestros servicios</h2>
                <h3 class="slogan">Contamos con una amplia variedad de servicios que podran satisfacer cualquier necesidad del hogar.</h3>
                <h3 class="slogan">Conoce nuestros servicios</h3>
                <div class="cards">
                    <div class="card">
                        <img src="../static/img/servicios/albañileria.jpg" alt="">
                        <h4>Albañileria</h4>
                        <p>Lorem ipsum dolor sit.</p>
                    </div>
                    <div class="card">
                        <img src="../static/img/servicios/carpinteria.jpg" alt="">
                        <h4>Carpinteria</h4>
                        <p>Lorem ipsum dolor sit.</p>
                    </div>
                    <div class="card">
                        <img src="../static/img/servicios/electricidad.jpg" alt="">
                        <h4>Electricista</h4>
                        <p>Lorem ipsum dolor sit.</p>
                    </div>
                    <div class="card">
                        <img src="../static/img/servicios/limpieza.jpg" alt="">
                        <h4>Limpieza</h4>
                        <p>Lorem ipsum dolor sit.</p>
                    </div>
                    <div class="card">
                        <img src="../static/img/servicios/plomeria.jpg" alt="">
                        <h4>Plomeria</h4>
                        <p>Lorem ipsum dolor sit.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="fondo">
            <div class="sesgoarriba"></div>
            <div class="contenedor">
                <h2 class="titulo-patrocinadores">Nuestra clientes</h2>
                <h3 class="subtitulo-patrocinadores">Conoce a algunos de nuestros patrocinadores</h3>
                <div class="clientes">
                    <div class="cliente">
                        <img src="logo.png" alt="">
                    </div>
                    <div class="cliente">
                        <img src="logo.png" alt="">
                    </div>
                    <div class="cliente">
                        <img src="logo.png" alt="">
                    </div>
                </div>
                <h3 class="subtitulo-patrocinadores especial">y muchos más clientes...</h3>
            </div>
            <div class="sesgoabajo-unico"></div>
        </section>
    </main>
    <footer>
        <div class="contenedor">
            <h2 class="titulo-footer">Contactanos</h2>
            <div class="footer">
                <form action="">
                    <input type="text" name="" id="3" placeholder="Nombre">
                    <input type="email" name="" id="2" placeholder="Email">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Ingrese su mensaje..."></textarea>
                    <input type="submit" value="Enviar">
                </form>
            </div>
        </div>
    </footer>
</body>

</html>